.my-card {
	width: 400px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px grey;
	padding: 20px;
	margin-left: -60px;
	height: 200px;
	margin-bottom: 10px;
}

.my-card h3 {
	font-size: 20px;
}

.avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.my-card-content {
	padding-left: 25px;
	margin:	20px;
}

.my-card-content p {
	font-size: 16px;
}